.red{
    
    display: flex;
    background-color: yellow;
    justify-content: space-evenly;
    
}
.div1{
    font-style: italic;
}
.name{
    font-style: normal;
}
.submit{
    color:white;
    font-style: oblique;
    background-color: red;
}
.section{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    background-color: darkgray;
}.bu{
    color:white ;
    background-color: red;

    
}.section h3{
    color: rgb(0, 0, 0);
  

}
