.box{
    background-color: yellow;
    /* padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;*/
    padding: 50px;
    border: 6px solid rgb(7, 1, 23);
    border-left: 2px dashed ;
    border-right: 8px  double rgb(244, 30, 30);
    border-radius: 20px;
    border-bottom-right-radius: 30px;

} 